<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
<title>Home | NF</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- Custom styles for this template-->
<link rel="stylesheet" th:href="@{/static/css/sb-admin.css}">


</head>

<body>
	<h1> Welcome To Nick's Banking Website </h1>
	<br>
	<h3> Built using Spring Boot, Spring Security, Hibernate, MySQL, Thymeleaf (May 2020)</h1>
	<br>
	<h4> Please login <a href="/banking">here</a></h3>
</body>